$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  // background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 1%;
  padding-bottom: 15px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin: 0 8%;
  //  border-bottom: 1px solid #e5e5e5;
  position: fixed;
  left: 0;
  right: 0; 
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 25px;
    padding-bottom: 15px;
    color:#333333;
    font-size: 30px;
  }
  ul{ 
    padding-right: 1%;
    margin-top: -5px;
    a{
      border: 1px solid white;
    }
  }

  a{
    color: black;
  }
}

/* Custom page footer */
.footer {
  // padding-top: 15px;
  color: #777;
  border-top: 1px dashed #e5e5e5;
  clear: both;
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  text-align: center;
  // position: relative;
  // top: 50%;
  // transform: translateY(-50%);
  // vertical-align: middle;
  margin-top: 12%;
  background: none;
  h1{
    // margin-top: 10px;
  }
  form {
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    input{
      // height: 45px;
      // font-size:18px;
      // border-width: 0.5px;
      // background-color: #F5F5F5;
      font-family: 'Josefin Sans', sans-serif;
    }
    .btn {
      font-family: 'EB Garamond', serif;
      float: right;
      // padding:3px;
//      margin-top: 20px;
      // width: 100%;
      // font-size: 21px;
      // background-color: #ffffff;
    }
    p{
      margin-bottom: 0;
    }
    
  }
}

#dropdown-context{
   // z-index:1000;
   position: absolute;
   display: none;
   background-color: white;
   padding: 10px 15px;

  #shape-list p, #shape-list hr{
    display: inline-block;
    vertical-align: middle;
   }
  #shape-list hr{
    margin-top: 9px;
    margin-left: 10px;
    height: 2px;
    border: none;
   }

  .list-group-horizontal{
    display: inline-block;

    img{
      margin: 0 1.5em; 
      &.first-child{
        margin-left: 0;
      }
      &.last-child{
        margin-right: 0;
      }
    }
  }

  #annotation-text{
    border-left-style: none;
    border-right-style: none;
  }
  button{
    border: none;
    float: right;
  }
}

#annotation-body{
  margin-top: 5%;
  
  .editing-menu{
    background: #E8E6E3;
    border: 1px black solid;
    position: fixed;
    left: 0;
  }
  canvas{
    float: left;
    // border: 1px black solid;
  }
  #annotation-text{
    border: 1px black solid;
    float: left;
  }
}


/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

#rightMenu{
  font-family: Helvetica;
  &.showMenu{
    display: block;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #918c91;
//    box-shadow: 5px 5px 4px #888888;
  }
  &.hideMenu{
    display: none;
  }
  ul{
    list-style: none;
    padding-left: 20px;
    padding-right: 30px;
    margin:3px 0;
  }
  li{
    margin-bottom: 3px;
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    //    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


//body > div > div.header > ul > li.active
