.navbar{
	padding: 0 100px;
	background-color: rgba(30, 30, 30, 0.1);
	li{
		a{
			color: white;
			font-size: 20px;
			font-family: EB Garamond;

			&:hover{
				background:none;
				color: #9013FE;
			}
		}
	}
}