.navbar{
	padding: 0 100px;
	li{
		a{
			color: white;
			font-size: 20px;
			font-family: EB Garamond;

			&:hover{
				background:none;
				color: #9013FE;
				// text-decoration: underline;
			}
		}
	}
}