#welcome {
  text-align: center;
  background: none;

  #logo-on-photo{
    margin: 0 auto 40px auto;
    a.arrow{
      img{
        position:relative; 
        width:20px; 
        top:135px;
      }
      #right-arrow{
        right: 190px
      }
      #left-arrow{
        left: 190px
      }
    }
    #logo-large-rect{
      z-index: 100; 
      position: absolute;
      left: 50%;
      transform: translateX(-55%);
      top:20px; 
      width:23em; 
    }
    .logo-gallary{
      position: absolute;
      left: 50%;
      transform: translateX(-45%);
      top: 70px;
      width: 20em;
      height: 22em;
    }
  }

  form {
    width: 430px;
    margin: 20px auto 0 auto;
    input{
      font-family: 'Josefin Sans', sans-serif;
      margin-top: 20px;
      height: 40px;
      font-size: 18px;
      color: black;
      background-color: #F5F5F5;
      &::-webkit-input-placeholder { 
        color: black;
      }
      border-radius: 0;
    }
    button {
      font-family: 'EB Garamond', serif;
      float: right;
      border:none;
      font-size: 20px;
      margin: 15px 0 0 20px;
      &.active{
      }
    }
  }
}