<div id='dropdown-context' ng-show='editMode'>
	<div id='shape-list'>
		<p>Vector tool</p>
		<hr align="right" width="65%" color='black'>
		<div class='list-group list-group-horizontal'>
			<img ng-repeat='image in toolIcons' ng-src='{{image.url}}' ng-click='dropdownClick($index)'>
		</div>
	</div>
	<form>
		<div class="form-group">
			<textarea id="annotation-submit" class="form-control" rows="4" id="exampleInputEmail1" placeholder="Type something..."></textarea>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
		<button type="submit" class="btn btn-default">Cancel</button>
	</form>
</div>