<div class="explore-container">
	<div class="explore-header">
			<div photo-slider class="explore-container">
				<div id="explore-header-navigation">
	   				<nav class="nav">
				        <div class="wrapper">
				            <ul class="dots">
				                <li class="dot" ng-repeat="item in items">
				                    <a href="" ng-class="{'active':isCurrentIndex($index)}"
				                       ng-click="setCurrentIndex($index)">
				                   	</a>
				                </li>
				            </ul>
				        </div>
				    </nav>
	   			</div>
				<a href="" class="header-photo" ng-repeat="item in items" ng-show="item.visible">
					<div class="text-content"><h4>{{item.title}}</h4><h5>{{item.artist}}</h5></div>
					<img ng-src={{item.src}} />
				</a>

				

			</div>
	</div>


	<div class="container horizontal-gallery">
		<div ng-controller="GalleryCtrl" class="row">
			<h4>This Week's Topic</h4>
			<div class="arrow-group">
				<a href="" ng-mouseenter="scrollLeft()" ng-mouseleave="scrollEnd()">
					<img class="arrow prev" src="/images/left-arrow.png"/>
				</a>
				<a href="" ng-mouseenter="scrollRight()" ng-mouseleave="scrollEnd()">
					<img class="arrow next" src="/images/right-arrow.png"/>
				</a>
			</div>
			<div class="scroll-gallery" horizontal-infinity-scroll="loadMore()">
				<a href="" class="scroll-photo" ng-repeat="item in items">
					<img ng-src={{item.src}} />
					<span class="text-content"><div><h4>{{item.title}}</h4><h5>{{item.artist}}</h5></div></span>
				</a>
			</div>
		</div>
		<div ng-controller="GalleryCtrl" class="row">
			<h4>Trending</h4>
			<div class="arrow-group">
				<a href="" ng-mouseenter="scrollLeft()" ng-mouseleave="scrollEnd()">
					<img class="arrow prev" src="/images/left-arrow.png"/>
				</a>
				<a href="" ng-mouseenter="scrollRight()" ng-mouseleave="scrollEnd()">
					<img class="arrow next" src="/images/right-arrow.png"/>
				</a>
			</div>
			<div class="scroll-gallery" horizontal-infinity-scroll="loadMore()" >
				<a class="scroll-photo" ng-repeat="item in items">
					<img ng-src={{item.src}} />
					<span class="text-content"><div><h4>{{item.title}}</h4><h5>{{item.artist}}</h5></div></span>
				</a>
			</div>
		</div>
		<div ng-controller="GalleryCtrl" class="row">
			<h4>Favorites</h4>
			<div class="arrow-group">
				<a href="" ng-mouseenter="scrollLeft()" ng-mouseleave="scrollEnd()">
					<img class="arrow prev" src="/images/left-arrow.png"/>
				</a>
				<a href="" ng-mouseenter="scrollRight()" ng-mouseleave="scrollEnd()">
					<img class="arrow next" src="/images/right-arrow.png"/>
				</a>
			</div>
			<div class="scroll-gallery" horizontal-infinity-scroll="loadMore()" >
				<div class="scroll-photo" ng-repeat="item in items">
					<img ng-src={{item.src}} />
					<span class="text-content"><div><h4>{{item.title}}</h4><h5>{{item.artist}}</h5></div></span>
				</div>
			</div>
		</div>
	</div>
</div>