<div class="explore-container">
	<div class="explore-header">
		<div class="container">
			<h2>
				Herbert Chmieleski
			</h2>
			<h3>
				Into the snow
			</h3>
		</div>
	</div>


	<div class="container horizontal-gallery">
		<div ng-controller="GalleryCtrl" class="row">
			<h4>This Week's Topic</h4>
			<div class="arrow-group">
				<a href="" ng-mouseover="scrollLeft()">
					<img class="arrow prev" src="/images/left-arrow.png"/>
				</a>
				<a href="" ng-mouseover="scrollRight()">
					<img class="arrow next" src="/images/right-arrow.png"/>
				</a>
			</div>
			<div class="scroll-gallery" horizontal-infinity-scroll="loadMore()" >
				<img ng-repeat="item in items" ng-src={{item.src}} />
			</div>
		</div>
		<div ng-controller="GalleryCtrl" class="row">
			<h4>Trending</h4>
			<div class="arrow-group">
				<a href="" ng-mouseover="scrollLeft()">
					<img class="arrow prev" src="/images/left-arrow.png"/>
				</a>
				<a href="" ng-mouseover="scrollRight()">
					<img class="arrow next" src="/images/right-arrow.png"/>
				</a>
			</div>
			<div class="scroll-gallery" horizontal-infinity-scroll="loadMore()" >
				<img ng-repeat="item in items" ng-src={{item.src}} />
			</div>
		</div>
		<div ng-controller="GalleryCtrl" class="row">
			<h4>Favorites</h4>
			<div class="arrow-group">
				<a href="" ng-mouseover="scrollLeft()">
					<img class="arrow prev" src="/images/left-arrow.png"/>
				</a>
				<a href="" ng-mouseover="scrollRight()">
					<img class="arrow next" src="/images/right-arrow.png"/>
				</a>
			</div>
			<div class="scroll-gallery" horizontal-infinity-scroll="loadMore()" >
				<img ng-repeat="item in items" ng-src={{item.src}} />
			</div>
		</div>
	</div>
</div>