<div class="jumbotron">
  <h1>anotare</h1>
  <p class="lead">
    <!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
    Explore art, with the art...
  </p>
  <form>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Email">
      <input type="text" class="form-control" placeholder="Password">
      <input type="text" class="form-control" placeholder="Username" style="margin-bottom: 20px">
      <button type="submit" class="btn">Sign up</button>
      <p> or </p>
      <button type="submit" class="btn">Log in</button>
    </div>
  </form>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
