<!-- Add your site or application content here -->
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <!--<li class="active"><a ng-href="#">Home</a></li>-->
      <!--<li><a ng-href="#/about">About</a></li>-->
      <!--<li><a ng-href="#">Contact</a></li>-->
      <li><a ng-href="#">Log in</a></li>
      <li><a ng=-href="#">Sign up</a></li>
    </ul><!-- 
    <h3 class="text-muted"><a ui-sref="welcome">anotare</a></h3> -->
    <img src="./images/anotare-logo.png" width="200px" />
  </div>

  <div ui-view="" ></div>
  <!--TODO:temp place for oncontextmenu-->

  <div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> anotare</p>
  </div>
</div>