<div class="jumbotron">
  <photo-slider>
    <a class="arrow prev" href="" ng-click="prev()">
          <img src="/images/left-arrow.png" style="width:15px; position:relative; top:120px; right: 135px"/>
    </a>
    <a class="arrow next" href="" ng-click="next()">
      <img src="/images/right-arrow.png" style="width:15px; position:relative; top:120px; left: 135px"/>
    </a>
    <h1><div style="display:inline-block; width: 200px; height: 200px">
        <a ui-sref="root.annotation">
          <img parallax offset-parallax="5" direction-parallax="reverse" style="z-index: 100; position: absolute; width:200px; margin-top: -40px; margin-left: -110px" ng-src="images/anotare-icon.png"/>
          <div ng-repeat="photo in imageScope">
            <img parallax offset-parallax="15" style="position: relative; width:180px; height:205px; margin-right: -40px" ng-src={{photo.src}} ng-show="photo.visible"/>
          </div>
      </a>
    </div></h1>
  </photo-slider>

  <h2><a ui-sref="root.annotation">
    <img style="max-width:200px; margin-top: 20px;" ng-src="images/anotare-logo.png"/>
  </a></h2>
  <p class="lead">
    Collaborative notetaking space for art lovers.
  </p>
  <form>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Email">
      <input type="text" class="form-control" placeholder="Password" style="margin-bottom: 20px">
      <div class="row">
        <div class="col-md-3 col-md-offset-6">
          <a ui-sref="root.explore">Register</a>
        </div>
        <div class="col-md-3">
          <a ui-sref="root.explore">Login</a>
        </div>
      </div>

    </div>
  </form>
</div>