<div class="jumbotron">
  <h1><a ng-href="#/annotation">
    <img style="z-index: 100; position: relative; width:200px; margin-top: -40px; margin-left: -49px" ng-src="images/anotare-icon.png"/>
    <img style="position: absolute; width:180px; height:205px; margin-top: 0px; margin-left: -160px" ng-src="images/image-front.jpg"/>
  </a></h1>
  <h2><a ng-href="#/annotation">
    <img style="max-width:200px; margin-top: 20px;" ng-src="images/anotare-logo.png"/>
  </a></h2>
  <p class="lead">
    Collaborative notetaking space for art lovers.
  </p>
  <form>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Email">
      <input type="text" class="form-control" placeholder="Password" style="margin-bottom: 20px">
      <div class="row">
        <div class="col-md-3 col-md-offset-6">
          <a href="#/explore">Register</a>
        </div>
        <div class="col-md-3">
          <a href="#/explore">Login</a>
        </div>
      </div>

    </div>
  </form>
</div>